<h1>Réinitialisation de votre mot de passe</h1>
<p>Bonjour {{ lastname }} {{ firstname }}</p>

<p>Vous avez demandé à réinitialiser le mot de passe de votre compte. Cliquez sur le bouton ci-dessous pour créer un nouveau mot de passe :</p>

<p style="text-align: center;">
    <a href="{{ resetToken.token|url('app_reset_password') }}" class="button">
        Réinitialiser mon mot de passe
    </a>
</p>

<p>Ce lien est valable pendant 1 heure. Passé ce délai, vous devrez effectuer une nouvelle demande.</p>

<p>Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer cet email. Votre mot de passe actuel restera inchangé.</p>

<div class="footer">
    <p>Merci de votre confiance,</p>
    <p><strong>L’équipe de La Groove Box</strong></p>
</div>
