{% extends 'base.html.twig' %}

{% block title %}Modifier l'avatar - CultStore{% endblock %}

{% block body %}
    <h1>Modifier l'avatar</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Enregistrer</button>
    {{ form_end(form) }}
    <a href="{{ path('app_user_account') }}">Retour au compte</a>
{% endblock %}