
        <nav class="nav-end">
            <a href="">
                <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="black"
                    class="remixicon ">
                    <use href="assets/icons/sprites.svg#home"></use>
                </svg>
            </a>
            <a href="">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="black">
                    <use href="assets/icons/sprites.svg#search"></use>
                </svg>
            </a>
            <a href="">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" fill="black">
                    <use href="assets/icons/sprites.svg#cart"></use>
                </svg>

                <a href="">
                    <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="black"
                        >
                        <use href="assets/icons/sprites.svg#user"></use>
                    </svg>
                </a>
        </nav>

