<nav>
    <a href="{{ path('app_main') }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" id="home" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/>
            <polyline points="9,22 9,12 15,12 15,22"/>
        </svg>
    </a>


    {# Icône Cart #}
    <a href="#"></a>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" id="cart" viewBox="0 0 24 24" fill="none"
         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="8" cy="21" r="1"/>
        <circle cx="19" cy="21" r="1"/>
        <path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57L21.16 7H7"/>
    </svg>

    {# Icône Search #}
    <a href="#"></a>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" id="search" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="11" cy="11" r="8"/>
        <path d="m21 21-4.35-4.35"/>
    </svg>

    {# Icône User #}
    <a href="#"></a>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" id="user" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"/>
        <circle cx="12" cy="7" r="4"/>
    </svg>
</nav>


