<<<<<<< HEAD

        <nav class="nav-end">
            <a href="">
                <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="black"
                    class="remixicon ">
                    <use href="assets/icons/sprites.svg#home"></use>
                </svg>
            </a>
            <a href="">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="black">
                    <use href="assets/icons/sprites.svg#search"></use>
                </svg>
            </a>
            <a href="">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" fill="black">
                    <use href="assets/icons/sprites.svg#cart"></use>
                </svg>

                <a href="">
                    <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="black"
                        >
                        <use href="assets/icons/sprites.svg#user"></use>
                    </svg>
                </a>
        </nav>

=======

      <nav>
          <a href="{{ path('app_main') }}"> <svg class="icon icon-home" width="24" height="24">
            <use href="#home"></use>
            </svg></a>


          {# Icône Cart #}
          <a href="{{ path('') }}"></a>
          <svg class="icon icon-cart" width="24" height="24">
              <use href="#cart"></use>
          </svg>

          {# Icône Search #}
           <a href="{{ path('') }}"></a>
          <svg class="icon icon-search" width="20" height="20">
              <use href="#search"></use>
          </svg>

          {# Icône User #}
           <a href="{{ path('') }}"></a>
          <svg class="icon icon-user" width="24" height="24">
              <use href="#user"></use>
          </svg>
      </nav>

>>>>>>> 097745c (footer)
