<nav>
          <a href="{{ path('app_main') }}"> <svg class="icon icon-home" width="24" height="24">
            <use href="#home"></use>
            </svg></a>


          {# Icône Cart #}
          <a href="#"></a>
          <svg class="icon icon-cart" width="24" height="24">
              <use href="#cart"></use>
          </svg>

          {# Icône Search #}
           <a href="#"></a>
          <svg class="icon icon-search" width="20" height="20">
              <use href="#search"></use>
          </svg>

          {# Icône User #}
           <a href="#"></a>
          <svg class="icon icon-user" width="24" height="24">
              <use href="#user"></use>
          </svg>
      </nav>


